
page-warriors {

    .bg-image {
        background-image: url('../assets/img/warriors.jpg');
        background-repeat: no-repeat;
        background-size: fill;
        background-position: center;
    }
}