page-ian-mc {

    .info-bg {
        background-image: url('../assets/img/infoBG.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

}
